* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #020202;
  background-color: #ffffff;
  line-height: 2;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #ffffff;
}
.topbar .logo {
  display: flex;
  align-items: center;
}
.topbar .logo img {
  height: 2rem;
  margin-right: 0.5rem;
}
.topbar .logo span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}
.topbar .links {
  display: flex;
  gap: 2rem;
}
.topbar .links a {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}
.topbar .icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}
.topbar .icons span {
  cursor: pointer;
}

.second_bar {
  background-color: #f9f1e7;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.95rem;
}
.second_bar a {
  color: #201f1f;
}
.second_bar span {
  color: #000000;
  font-weight: 500;
}

.product_details {
  display: flex;
  gap: 3rem;
  padding: 4rem 6rem;
}
.product_details .round_view {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product_details .round_view img {
  width: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.product_details .main_image img {
  width: 40rem;
  border-radius: 0.5rem;
}
.product_details .details {
  max-width: 40rem;
}
.product_details .details h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.product_details .details .price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #474444;
  margin-bottom: 1rem;
}
.product_details .details .rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product_details .details .rating .stars {
  color: #ffc107;
}
.product_details .details .rating .review {
  color: #807c4d;
  font-size: 1rem;
}
.product_details .details p {
  font-size: 1rem;
  line-height: 1.5;
  color: #252525;
  margin-bottom: 1.5rem;
}
.product_details .details .actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.product_details .details .actions .add_to_cart,
.product_details .details .actions .compare {
  padding: 1rem 2rem;
  font-weight: 600;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}
.product_details .details .product {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1rem;
}
.product_details .details .product ab {
  font-weight: 600;
  color: #676565;
}
.product_details .details .product bc {
  color: #000000;
}
.product_details .details .product span {
  margin-right: 0.75rem;
  font-size: 1rem;
}

.description_tabs {
  margin: 4rem 6rem 6rem;
  display: block;
}
.description_tabs .tabs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.description_tabs .tabs span {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.description_tabs .tabs span.active {
  color: #000000;
  font-weight: 600;
  border-bottom: 2px solid #e2bb83;
}
.description_tabs .tab_content {
  text-align: center;
}
.description_tabs .tab_content p {
  font-size: 1rem;
  color: #000000;
  margin: 0 auto 1rem;
  line-height: 2;
}
.description_tabs .tab_content .description-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.description_tabs .tab_content .description-images img {
  max-width: 50%;
  border-radius: 0.5rem;
  background-color: #f9eede;
}/*# sourceMappingURL=shop.css.map */