* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #020202;
  background-color: #ffffff;
  line-height: 2;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.topbar .logo {
  display: flex;
  align-items: center;
}
.topbar .logo img {
  height: 2rem;
  margin-right: 0.5rem;
}
.topbar .logo span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}
.topbar .links {
  display: flex;
  gap: 2rem;
}
.topbar .links a {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}
.topbar .icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}
.topbar .icons span {
  cursor: pointer;
}

.main {
  background-image: url("images/chair-background.png");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main .text-box {
  background-color: #f9eede;
  padding: 2rem;
  max-width: 25rem;
}
.main .text-box .subheading {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #020202;
  margin-bottom: 0.5rem;
}
.main .text-box h1 {
  font-size: 2rem;
  color: #ad7a31;
  margin-bottom: 1rem;
  line-height: 2;
}
.main .text-box .description {
  font-size: 1rem;
  color: #020202;
  margin-bottom: 1.5rem;
}
.main .text-box .buy_btn {
  background-color: #ad7a31;
  color: #ffffff;
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.Range_of {
  text-align: center;
  padding: 4rem;
}
.Range_of .section-title {
  margin-bottom: 2.5rem;
}
.Range_of .section-title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #020202;
}
.Range_of .section-title p {
  font-size: 1rem;
  color: #020202;
}
.Range_of .categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.Range_of .categories .category-card {
  background: #fefefe;
  border-radius: 0.75rem;
  max-width: 16rem;
}
.Range_of .categories .category-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
}
.Range_of .categories .category-card h3 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #020202;
}

.product_section {
  padding: 4rem;
  text-align: center;
}
.product_section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #020202;
}
.product_section .product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.product_section .product_grid .product-card {
  background-color: #f6f1f1;
  border-radius: 0.5rem;
  position: relative;
}
.product_section .product_grid .product-card .product-image {
  position: relative;
}
.product_section .product_grid .product-card .product-image img {
  width: 100%;
  display: block;
}
.product_section .product_grid .product-card .product-image .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1000px;
  font-size: 0.75rem;
  color: white;
  font-weight: 600;
}
.product_section .product_grid .product-card .product-image .badge.sale {
  background-color: #e97171;
}
.product_section .product_grid .product-card .product-image .badge.new {
  background-color: #2ec1ac;
}
.product_section .product_grid .product-card .product-info {
  padding: 1rem;
  text-align: left;
}
.product_section .product_grid .product-card .product-info h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.product_section .product_grid .product-card .product-info p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.product_section .product_grid .product-card .product-info p.price strong {
  font-weight: 700;
}
.product_section .product_grid .product-card .product-info p.price del {
  color: #c9bebe;
  margin-left: 0.5rem;
}

.show_more {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
.show_more button#shopButton {
  background-color: #ad7a31;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */